.countdown-wrapper {
    background-color: var(--dark-olive);
}

.countdown-container {
    color: var(--light-gold);
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}

.countdown-container span {
    width: 80px;
    height: 80px;
    border: 2px solid var(--light-gold);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.flowers {
    object-position: bottom;
    object-fit: cover;
    width: 100%;
}

.flowers.top {
    transform: rotate(180deg);
}