.countdown-wrapper {
    background-color: var(--dark-olive);
    height: 30vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.countdown-container {
    color: var(--light-gold);
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}

.countdown-container span {
    width: 80px;
    height: 80px;
    border: 2px solid var(--light-gold);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.flowers {
    /*object-position: bottom;*/
    /*object-fit: cover;*/
    background-image: url("./images/gold-flowers.png");
    width: 100%;
    height: 50%;
    bottom: 0;
    background-size: contain;
    position: absolute;
    background-repeat-x: repeat;
}

.flowers.top {
    transform: rotate(180deg);
}