.getting-there-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    background-color: var(--light-gold);
}

.getting-there-image {
    background-image: url("./images/the-canyon.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
}

.getting-there-title {
    font-family: var(--great-vibes);
    color: var(--dark-olive);
    z-index: 2;
    padding-top: 40px;
    width: 480px;
    margin: auto;
}

.getting-there-wrapper {
    z-index: 2;
    padding: 0 40px;
    width: 480px;
    margin: auto;
}

.getting-there-content {
    padding: 20px;
    width: 80%;
    margin: auto;

}

.getting-there-btn {
    display: flex;
    justify-content: space-evenly;
}