.navbar {
    display: flex;
    height: 80px;
    background-color: transparent;
    position: absolute;
    z-index: 4;
}

.menu-icon {
    font-size: 2rem;
    padding: 20px;
    z-index: 2;
    color: var(--primary);
    position: fixed;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
}

.nav-menu.active {
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: center;
    align-items: center;
    list-style: none;
    opacity: 1;
    transition: 0.5s cubic-bezier(0.52, 0.01, 0.16, 1);
    height: 100vh;
}

.nav-item {
    display: flex;
    height: 80px;

}

.nav-link {
    text-decoration: none;
    padding: 10px;
    align-self: center;
    color: black;
}

@media screen and (min-width: 960px) {


}

