.detail-container {

    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.detail-content {
    width: 100%;
    padding: 40px 0;
}

.detail-content h1 {
    font-family: var(--great-vibes);
}

.detail-text {
    display: flex;
    padding: 30px 0;
}

.detail-when,
.detail-where {
    width: 50%;
    padding: 0 10px;
    line-height: 30px;

}

.detail-when {
    border-right: 2px solid var(--light-gold);
}

.detail-where {
    border-left: 2px solid var(--light-gold);
}

.detail-when h2,
.detail-where h2 {
    color: var(--gold);
}

.canyon {
    width: 100%;
}

.detail-content p {
    font-size: 12px;
}

@media screen and (min-width: 425px) {
    .detail-content p {
        font-size: 16px;
    }

    .detail-when,
    .detail-where {
        line-height: 50px;
    }
}


@media screen and (min-width: 768px) {

    .save-date-text {
        font-size: 22px;
    }
    .save-date-text.date {
        font-size: 24px;
    }
    .detail-text {
        width: 768px;
        margin: auto;
    }

    .detail-content h1 {
        font-size: 40px;
        padding: 20px;
    }

}

@media screen and (min-width: 960px) {
    .save-date-container {
        height: 100vh;
    }
}

@media screen and (min-width: 1024px) {
    .detail-content h1 {
        font-size: 60px;
    }
    .detail-when,
    .detail-where {
        font-size: 36px;
    }
}