.countdown-wrapper {
    background-color: var(--dark-olive);
    height: 25vh;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 40px;
}

.countdown-container {
    color: var(--light-gold);
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
}

.countdown-container span {
    width: 80px;
    height: 80px;
    border: 2px solid var(--light-gold);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.flowers {
    background-image: url("./images/gold-flowers.png");
    width: 100%;
    height: 50%;
    bottom: 0;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    background-position: bottom;
}

.flowers.top {
    transform: rotate(180deg);
}

@media screen and (min-width: 425px) {
    .flowers {
        height: 40%;
        background-repeat: repeat;
        background-position: left;
    }
}