.gallery {
    display: grid;
    overflow: hidden;
    justify-content: center;
    padding: 40px 0;
}

.image {
    background: no-repeat;
    background-size: cover;
    background-position: center;
    width: 280px;
    height: 280px;
    margin: 20px;
}

.image1 { background-image: url("./images/img_ck7.jpg"); }
.image2 { background-image: url("./images/img_ck8.jpg"); }
.image3 { background-image: url("./images/img_ck2.jpg"); }
.image4 { background-image: url("./images/img_ck9.jpg"); }
.image5 { background-image: url("./images/img_ck6.jpg"); }
.image6 { background-image: url("./images/img_ck5.jpg"); }

@media screen and (min-width: 768px) {
    .gallery {
        display: flex;
        flex-flow: wrap;

    }
}

@media screen and (min-width: 1024px) {
    .gallery {

        width: 1024px;
        margin: auto;
    }
}
