.navbar {
    display: flex;
    height: 60px;
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: 4;justify-content: center;
    align-items: center;

}

.navbar.active {
    background-color: var(--primary);
}

.nav-title {
    font-family: var(--great-vibes);
    padding-left: 20px;
}

.navbar-container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

.menu-icon {
    font-size: 2rem;
    padding: 20px;
    z-index: 2;
    color: var(--dark-olive);
}


.nav-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    top: 0;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    place-content: center;
    align-items: center;
    list-style: none;
    width: 100%;
    text-transform: uppercase;
}

.nav-menu.active {
    display: flex;
    background-color: var(--light-gold);
    left: 0;
}

.nav-item,
.nav-btn {
    display: flex;
    padding: 40px 0;
    width: 100%;
    justify-content: center;
}

.nav-link {
    text-decoration: none;
    padding: 10px;
    align-self: center;
    color: var(--dark-olive);
    border-bottom: 2px solid transparent;
    font-weight: bold;
    font-size: 18px;
}

 .nav-link:hover {
     border-bottom: 2px solid var(--dark-olive);
     transition: all 0.5s ease;
 }




@media screen and (min-width: 960px) {
    .navbar {
        height: 60px;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
    }

    .navbar-container {
        display: flex;
        align-items: center;
        height: 60px;
        justify-content: center;
    }
    .nav-menu {
        list-style: none;
        text-align: center;

        position: sticky;
        height: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 24px;
        width: 60%;
    }

    .nav-item,
    .nav-btn {
        display: flex;
        padding: 0;
        width: 145px;
    }

    .nav-links {
        color: var(--dark-olive);
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0.5rem 1rem;

    }

    .nav-links:hover {
        border-bottom: 4px solid var(--dark-olive);
        transition: all 0.2s ease-out;
    }

    .fa-bars {
        color: var(--dark-olive);
    }

    .nav-links-mobile {
        display: none;
    }

    .menu-icon {
        display: none;
    }

}

